<div id="<%= dom_id account %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= account.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Note:</strong>
    <%= account.note %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Rank:</strong>
    <%= account.rank %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Type:</strong>
    <%= account.type %>
  </div>
</div>
